/* :root {
    --common-color-1: #181817;
    --common-color-2: #F1D302;
    --common-color-3: #00BFA6;
    --common-color-4: #FFFFFF;
    --common-color-5: #52489C;
}

footer {
    color: var(--common-color-4);
    background-color: var(--common-color-1);
} */