:root {
    --common-color-1: #181817;
    --common-color-2: #F1D302;
    --common-color-3: #00BFA6;
    --common-color-4: #FFFFFF;
}

header {
    background-color: var(--common-color-4);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 100px;
    position: fixed;
    top: 0;
    left: 0;
}


.logo {
    color: var(--common-color-1);
    font-size: 30px;
    font-weight: bold;
}

.flex-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navlink {
    color: var(--common-color-1);
    font-size: 15px;
    font-weight: bold;
    transition: color 0.3s ease-in;
}

.navlink:hover {
    color: var(--common-color-3);
}