:root {
    --common-color-1: #181817;
    --common-color-2: #F1D302;
    --common-color-3: #00BFA6;
    --common-color-4: #FFFFFF;
    --common-color-5: #52489C;
}

.card-ai {
    margin-bottom: 35px;
}

.card-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 25px;
}

.card-btn-box {
    display: flex;
    flex-direction: row;
}

.btn-details {
    border: 1px solid var(--common-color-3);
    border-radius: 5px;
    background-color: var(--common-color-3);
    color: var(--common-color-4);
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
    margin-right: 15px;
    text-align: center;
}

.btn-details:hover {
    color: var(--common-color-3);
    background-color: transparent;
}

.btn-compare {
    border: 1px solid var(--common-color-5);
    border-radius: 5px;
    background-color: var(--common-color-5);
    color: var(--common-color-4);
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
    margin-right: 15px;
}

.btn-compare:hover {
    color: var(--common-color-5);
    background-color: transparent;
    cursor: pointer;
}

.btn-compare.disabled {
    opacity: 0.3;
    cursor: not-allowed
}

.btn-fav {
    color: var(--common-color-1);
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.btn-fav-full, 
.btn-fav-empty {
    color: var(--common-color-2);
}

.btn-delete {
    border: transparent;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.card-separator {
    margin-top: 50px;
    border-bottom: 1px solid black;
}

.btn-edit {
    color: var(--common-color-1);
    font-size: 20px;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.card-btn-box2 {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 375px) {
    .card-btn-box {
        flex-direction: column;
        gap: 15px;
    }

    .btn-fav,
    .btn-details,
    .btn-compare {
        margin-right: 0;
    }

    .card-btn-box2 {
        justify-content: space-around;
    }
}