:root {
    --common-color-1: #181817;
    --common-color-2: #F1D302;
    --common-color-3: #00BFA6;
    --common-color-4: #FFFFFF;
    --common-color-5: #52489C;
    --common-color-6: #fd5f37;
}

.edit-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(24, 24, 23, 0.95);
    z-index: 9999;
    color: var(--common-color-4);
    padding: 100px 0;
    overflow-y: auto;
}

.edit-modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.edit-modal-content h2 {
    margin-bottom: 20px;
}

.edit-modal-content label,
.edit-modal-content select,
.edit-modal-content textarea {
    margin-bottom: 10px;
}

.edit-modal-content input,
.edit-modal-content select,
.edit-modal-content textarea {
    padding: 8px 8px;
    margin-bottom: 15px;
}

.edit-modal-form {
    display: flex;
    flex-direction: column;
}

.edit-checkbox {
    align-self: self-start;
}

.editai-btn-box {
    display: flex;
    gap: 20px;
}

.editai-btn-confirm {
    background-color: var(--common-color-3);
    color: var(--common-color-4);
    padding: 10px 10px;
    border: transparent;
    transition: color 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}

.editai-btn-confirm:hover {
    background-color: transparent;
    color: var(--common-color-3);
    border: 1px solid var(--common-color-3);
}

.editai-btn-back {
    background-color: var(--common-color-4);
    border: 1px solid var(--common-color-4);
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.editai-btn-back:hover {
    background-color: transparent;
    border: 1px solid var(--common-color-4);
    color: var(--common-color-4);
}

.editai-input {
    max-width: 80%;
}

.error-msg {
    color: var(--common-color-6);
    font-size: 15px;
    margin-bottom: 10px;
}

