:root {
    --common-color-1: #181817;
    --common-color-2: #F1D302;
    --common-color-3: #00BFA6;
    --common-color-4: #FFFFFF;
    --common-color-5: #52489C;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(24, 24, 23, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: var(--common-color-4);
    padding: 100px 0;
    overflow: hidden;
}

.modal-content {
    background-color: var(--common-color-1);
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    padding: 40px;
    border-radius: 10px;
}

.modal-btn-close {
    background-color: transparent;
    color: var(--common-color-4);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-title {
    text-align: center;
    margin-bottom: 50px;
}

.modal-rating {
    color: var(--common-color-3) !important; 
}

/* TABELLA */

.modal-feature-title {
    background-color: var(--common-color-3);
    color: var(--common-color-4);
    font-weight: bold;
}

.modal-website-ai {
    transition: color 0.5s ease-in-out
}

.modal-website-ai:hover {
    text-decoration: underline;
    color: var(--common-color-3);
}

.modal-compare-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

.modal-compare-table th,
.modal-compare-table td {
  border: 1px solid #ccc;
  padding: 15px 10px;
  text-align: left;
  word-break: break-word;
  white-space: normal;
  min-width: 150px;
}

.modal-compare-table th {
  background-color: var(--common-color-5);
  font-weight: bold;
}

@media (max-width: 768px) {
  .modal-compare-table {
    overflow-x: auto;
  }

  .modal-table-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .modal-compare-table th,
  .modal-compare-table td {
    font-size: 13px;
  }
}