:root {
    --common-color-1: #181817;
    --common-color-2: #F1D302;
    --common-color-3: #00BFA6;
    --common-color-4: #FFFFFF;
    --common-color-5: #52489C;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(24, 24, 23, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: var(--common-color-4);
    padding: 0 50px;
}

.modal-btn-close {
    background-color: transparent;
    color: var(--common-color-4);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-title {
    text-align: center;
    margin-bottom: 50px;
}

.modal-ai {
    display: flex;
    gap: 100px;
}


.modal-ailogo {
    width: 50px;
    margin-bottom: 10px;
}

.modal-ai-title {
    font-size: 35px;
    margin-bottom: 35px;
}

.modal-rating {
    color: var(--common-color-3);
    margin-bottom: 25px;
}

.modal-margin {
    margin-bottom: 10px;
}

.modal-link-website {
    text-decoration: underline;
}