:root {
    --common-color-1: #181817;
    --common-color-2: #F1D302;
    --common-color-3: #00BFA6;
    --common-color-4: #FFFFFF;
    --common-color-5: #52489C;
}

/* NOTFOUND Utilities */

.m-bottom {
    margin-bottom: 20px;
}

/**/

.notfound-box {
    text-align: center;
    padding: 300px 0;

}

.notfound-title {
    font-size: 50px;
}

.notfound-p {
    font-size: 20px;
}

.notfound-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.notfound-btn {
    border-radius: 10px;
    padding: 10px 8px;
    color: var(--common-color-4);
    transition: color 0.5s ease-in-out;
}

.notfound-btn:hover {
    border: 1px solid black;
    background-color: transparent;
    color: var(--common-color-1);
}

.btn1 {
    background-color: var(--common-color-1) ;
}

.btn2 {
    background-color: var(--common-color-3);
}

@media screen and (max-width: 320px) {

    .notfound-title {
        font-size: 30px;
    }

    .notfound-p {
        font-size: 18px;
    }

}