:root {
    --common-color-1: #181817;
    --common-color-2: #F1D302;
    --common-color-3: #00BFA6;
    --common-color-4: #FFFFFF;
}

.home-section {
    padding: 250px 0px;
}

.home-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title {
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}

.home-subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 100px;
}

.description-home {
    text-align: center;
    margin-bottom: 30px;
}

.home-btn {
    background-color: var(--common-color-3);
    color: aliceblue;
    border: 1px solid var(--common-color-3);
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
    margin-bottom: 15px;
}

.home-btn:hover {
    background-color: transparent;
    border: 1px solid var(--common-color-1);
    color: var(--common-color-1);
}
.home-arrow {
    display: flex;
    justify-content: center;
}

.btn-flex {
    display: flex;
    justify-content: center;
}


/* Animazione per la freccia */

.arrow-animation {
    animation: bounceUpDown 2s infinite ease-in-out;
}

@keyframes bounceUpDown {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}