:root {
    --common-color-1: #181817;
    --common-color-2: #F1D302;
    --common-color-3: #00BFA6;
    --common-color-4: #FFFFFF;
}

.section-listai {
    padding: 120px 0px;
}

.box-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.search-input {
    margin-right: 20px;
    background-color: transparent;
    border: 1px solid var(--common-color-1);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 15px;
    transition: border 0.2s ease-in-out;
}

.search-input:focus {
    outline: none;
    border: 1px solid var(--common-color-3);
}

.category-input {
    background-color: var(--common-color-3);
    border: 1px solid var(--common-color-3);
    color: var(--common-color-4);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 15px;
    transition: border 0.2s ease-in-out;
}

.sorted-by {
    font-size: 13px;
}

.btn-sort {
    background-color: transparent;
    border: transparent;
    font-size: 25px;
}

.btn-confronta {
    position: fixed;
    top: 120px;
    right: 0px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid var(--common-color-1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--common-color-1);
    padding: 10px;
    color: var(--common-color-4);
    cursor: pointer;
    transform: translate(100%);
    animation: slideInRight 0.5s ease-out forwards;
    z-index: 9999;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.no-result-serch {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .search-input {
        margin-bottom: 10px;
    }
}
