:root {
    --common-color-1: #181817;
    --common-color-2: #F1D302;
    --common-color-3: #00BFA6;
    --common-color-4: #FFFFFF;
    --common-color-6: #fd5f37;
}

.section-listai {
    padding: 120px 0px;
}

.box-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.search-input {
    margin-right: 20px;
    background-color: transparent;
    border: 1px solid var(--common-color-1);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 15px;
    transition: border 0.2s ease-in-out;
}

.search-input:focus {
    outline: none;
    border: 1px solid var(--common-color-3);
}

.category-input {
    background-color: var(--common-color-3);
    border: 1px solid var(--common-color-3);
    color: var(--common-color-4);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 15px;
    transition: border 0.2s ease-in-out;
}

.sorted-by {
    font-size: 13px;
}

.btn-sort {
    background-color: transparent;
    border: transparent;
    font-size: 25px;
}

.btn-confronta {
    position: fixed;
    top: 120px;
    right: 0px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid var(--common-color-4);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--common-color-1);
    padding: 10px;
    color: var(--common-color-4);
    cursor: pointer;
    transform: translate(100%);
    animation: slideInRight 0.5s ease-out forwards;
    z-index: 9999;
}

.modal-overlay-delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(24, 24, 23, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content-delete {
  background: white;
  padding: 40px 35px;
  border-radius: 10px;
  text-align: center;
}

.modal-box-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-confirm-delete {
    background-color: var(--common-color-6);
    border-radius: 10px;
    border: 1px solid var(--common-color-6);
    color: white;
    padding: 10px 10px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.btn-confirm-delete:hover {
    background-color: var(--common-color-4);
    color: var(--common-color-6);
}

.modal-p {
    margin-bottom: 15px;
}

.btn-cancel-delete {
    background-color: var(--common-color-1);
    border-radius: 10px;
    border: 1px solid var(--common-color-1);
    padding: 10px 15px;
    color: var(--common-color-4);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.btn-cancel-delete:hover {
    background-color: var(--common-color-4);
    color: var(--common-color-1);
}



@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.no-result-serch {
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    .search-input {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 375px) {
    .search-input {
        margin-right: 0;
    }

    .search-input,
    .category-input {
        width: 90%;
    }
}
