:root {
    --common-color-1: #181817;
    --common-color-2: #F1D302;
    --common-color-3: #00BFA6;
    --common-color-4: #FFFFFF;
}

.fav-flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.fav-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.fav-category {
    font-size: 14px;
}

.fav-none {
    margin-bottom: 20px;
}

.fav-btn-details {
    border: 1px solid var(--common-color-3);
    border-radius: 5px;
    background-color: var(--common-color-3);
    color: var(--common-color-4);
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
    margin-right: 15px;
    cursor: pointer;
}

.fav-btn-details:hover {
    color: var(--common-color-3);
    background-color: transparent;
}

.fav-btn-erase {
    background-color: transparent;
    color: var(--common-color-1);
    padding: 5px;
    border: 1px solid var(--common-color-1);
    border-radius: 5px;
    margin-bottom: 10px;
    transition: color 0.5s ease-in-out;
    cursor: pointer;
}

.fav-btn-erase:hover {
    color: var(--common-color-4);
    background-color: var(--common-color-1);
}

.fav-btn-list {
    border: 1px solid var(--common-color-1);
    border-radius: 5px;
    background-color: var(--common-color-1);
    color: var(--common-color-4);
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
    margin-right: 15px;
    cursor: pointer;
}

.fav-btn-list:hover {
    color: var(--common-color-1);
    background-color: transparent;
}

.fav-star {
    color: var(--common-color-2);
    font-size: 20px;
}